.cardCategory {
  --bg: rgba(0, 0, 0, 0.281);
  --hover-bg: #790147;
  --hover-text: #eec2dc;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    -webkit-transform 0.15s ease;
  transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    -webkit-transform 0.15s ease;
  transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    transform 0.15s ease;
  transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    transform 0.15s ease,
    -webkit-transform 0.15s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1em;
}
/* 
.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
} */

.cardCategory > :not(span) {
  -webkit-transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.cardCategory > strong {
  display: block;
  /* font-size: 1.4rem; */
  letter-spacing: -0.035em;
}

.cardCategory span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 10px;
  font-weight: bold;
  top: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.cardCategory:hover span {
  top: 0;
  /* font-size: 1.2em; */
}

.cardCategory:hover {
  background: var(--hover-bg);
}

.cardCategory:hover > div,
.cardCategory:hover > strong {
  opacity: 0;
}
